<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ssicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Song Scout x Spotify</title>
    <script>
        var most_popular_song  = '{{ most_popular_song|safe }}';
    </script>
 
</head>

<body>
    <div class="topnav">
        <a class="active" Home</a>
      </div>
     <br>
     <div>
        <img align="right" src="{{ url_for('static', filename='images/ssxspotify.png') }}" style="width: 296px; height: 110px;" alt="Song Scout">
        <h1>Song Scout</h1>
     </div>
   <p>Searching for something new? Song Scout is made for you.</p>
   <p>Discover personalized song suggestions and uncover details about your favorite artist.</p>
   <br>
   <hr>
   <hr>

   <h2>All Time Tables</h2>
<div class="table-container top-artists-table">
    <h3>Top Artists</h3>
    <table>
        {{ top_artist_html|safe }}
    </table>
</div>
<br>
<br>
<div class="table-container top-songs-table">
    <h3>Top Songs</h3>
    <table>
        {{ top_songs_html|safe }}
    </table>
</div>
<p>"The most recent album in the all time list is: {{ newest_album|safe }}, you probably heard about it"</p>
<p>"The oldest album in the all time list is: {{ oldest_album|safe }}, you probably never heard about it"</p>

<hr>

   <h2>About Your Artist</h2>
   <form method="post">
    <input type="string" name="artist_name" required><br><br>
    <button type="submit">Submit</button>
   </form>
   <p id="user_input"><script>document.getElementById("user_input").innerText = "Your input: {{ user_artist|safe }}" </script></p>
   <p id="p_artist_introduction"><script>document.getElementById("p_artist_introduction").innerText = "Artist Intro: {{ chat_gpt_response|safe }}" </script></p>


   <p id="p_artist_appearance"><script>document.getElementById("p_artist_appearance").innerText = "{{ apperance_response|safe }}" </script></p>
   <div id="customer_tables">
    {{ songs_in_all_time_table|safe }}
</div>
   <!-- <script src=" {{ url_for('static', filename= 'js/script.js') }}"></script> -->
  
   <br>
   <hr>

   <h2>About your album</h2>
   <div id="album_table">
       {{ album_table|safe }}
   </div>
   <br>
   <hr>
   <hr>
   <h2>About your artist's songs</h2>
   <p id="p_most_popular_song"><script>document.getElementById("p_most_popular_song").innerText = "The most popular song is: {{ most_popular_song|safe }}, you probably heard about it" </script></p>
   <p id="p_least_popular_song"><script>document.getElementById("p_least_popular_song").innerText = "The most least song is: {{ least_popular_song|safe }}, you should try it out" </script></p>
   
   
   
   <h2>Customer Data from SQL</h2>
   <div id="customer_tables">
       {{ customer_tables|safe }}
   </div>

   <br><br>
   <hr>
   <hr>
   <a id="copyright">BIS Development Class&#169;</a>

</body>
</html>